<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Desktop.Help.AboutSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.Desktop.View.WinForms.SplashScreenSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ClearCanvas.ImageViewer.Services.ServiceControlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Common.ProductSettings>
      <!--
        The contents of this section should be considered "read-only".
        Modifications to these settings may alter the intended behaviour of ClearCanvas DICOM Viewer, causing the application to become uncertified.
      -->
      <setting name="FamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Component" serializeAs="String">
        <value>UWF7dk94Zlp2GkxvVlFBelZzTGNZPBU+</value>
      </setting>
      <setting name="SubComponent" serializeAs="String">
        <value />
      </setting>
      <setting name="Product" serializeAs="String">
        <value>UWF7dk94Zlp2MBsAJDoyDg==</value>
      </setting>
      <setting name="Edition" serializeAs="String">
        <value />
      </setting>
      <setting name="Release" serializeAs="String">
        <value>L0ZyZ0MdAgw=</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>NConPRIdAgw=</value>
      </setting>
      <setting name="VersionSuffix" serializeAs="String">
        <value>LwQXEyIdAgw=</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>RmtnalB0ZWRMGikwFQ8SWlJrQGFSWENwFUJLcRUPUnVpKmVmYkt0bAJIcHNdb3ppQDMlAjcgMgA=</value>
      </setting>
      <setting name="License" serializeAs="String">
        <value>RmtnalB0ZWRMGjNjDRoAPgY0CSx0UHBfR0t5XE1OYDlMZHQhD2JscwJIfGdQaX8sVnhWZ0VWV2QZGwIyNS8PPg==</value>
      </setting>
      <setting name="Password1" serializeAs="String">
        <value>MzEmJxEdAgw=</value>
      </setting>
      <setting name="Password2" serializeAs="String">
        <value>Nj0mKxMdAgw=</value>
      </setting>
    </ClearCanvas.Common.ProductSettings>
    <ClearCanvas.Desktop.Help.AboutSettings>
      <!--
        The contents of this section should be considered "read-only".
        Modifications to these settings may alter the intended behaviour of ClearCanvas Workstation, causing the application to become uncertified.
      -->
      <setting name="UseSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundImageAssemblyName" serializeAs="String">
        <value>ClearCanvas.ImageViewer.View.WinForms</value>
      </setting>
      <setting name="BackgroundImageResourceName" serializeAs="String">
        <value>Resources.About.png</value>
      </setting>
      <setting name="ManifestForeColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ManifestFontBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManifestLocation" serializeAs="String">
        <value>400, 52</value>
      </setting>
      <setting name="ManifestSize" serializeAs="String">
        <value>250, 13</value>
      </setting>
      <setting name="ManifestAutoSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManifestTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="CopyrightLocation" serializeAs="String">
        <value>363, 362</value>
      </setting>
      <setting name="CopyrightForeColor" serializeAs="String">
        <value>36, 64, 46</value>
      </setting>
      <setting name="CopyrightTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="VersionLocation" serializeAs="String">
        <value>434, 30</value>
      </setting>
      <setting name="VersionForeColor" serializeAs="String">
        <value>102, 102, 102</value>
      </setting>
      <setting name="VersionTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="VersionTextFormat" serializeAs="String">
        <value>Version: {0}</value>
      </setting>
    </ClearCanvas.Desktop.Help.AboutSettings>
    <ClearCanvas.Desktop.View.WinForms.SplashScreenSettings>
      <!--
        The contents of this section should be considered "read-only".
        Modifications to these settings may alter the intended behaviour of ClearCanvas Workstation, causing the application to become uncertified.
      -->
      <!-- TODO(hieupm37): enable UseSplashScreenSettings -->
      <setting name="UseSplashScreenSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackgroundImageAssemblyName" serializeAs="String">
        <value>ClearCanvas.ImageViewer.View.WinForms</value>
      </setting>
      <setting name="BackgroundImageResourceName" serializeAs="String">
        <value>Resources.Splash.png</value>
      </setting>
      <setting name="ManifestForeColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ManifestFontBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManifestLocation" serializeAs="String">
        <value>400, 40</value>
      </setting>
      <setting name="ManifestSize" serializeAs="String">
        <value>250, 13</value>
      </setting>
      <setting name="ManifestAutoSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManifestTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="CopyrightLocation" serializeAs="String">
        <value>363, 362</value>
      </setting>
      <setting name="CopyrightForeColor" serializeAs="String">
        <value>36, 64, 46</value>
      </setting>
      <setting name="CopyrightTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="VersionLocation" serializeAs="String">
        <value>434, 18</value>
      </setting>
      <setting name="VersionForeColor" serializeAs="String">
        <value>102, 102, 102</value>
      </setting>
      <setting name="VersionTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="VersionTextFormat" serializeAs="String">
        <value>Version: {0}</value>
      </setting>
      <setting name="LoginLocation" serializeAs="String">
        <value>296, 306</value>
      </setting>
      <setting name="MessageFontBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageLocation" serializeAs="String">
        <value>374, 296</value>
      </setting>
      <setting name="MessageSize" serializeAs="String">
        <value>300, 13</value>
      </setting>
      <setting name="MessageTextAlign" serializeAs="String">
        <value>TopLeft</value>
      </setting>
    </ClearCanvas.Desktop.View.WinForms.SplashScreenSettings>
    <ClearCanvas.ImageViewer.Services.ServiceControlSettings>
      <setting name="ServiceName" serializeAs="String">
        <value>ClearCanvas DICOM Viewer ShredHost Service</value>
      </setting>
      <setting name="Enabled" serializeAs="String">
        <value>False</value>
      </setting>
    </ClearCanvas.ImageViewer.Services.ServiceControlSettings>
  </applicationSettings>
</configuration>
