<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClearCanvas.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ClearCanvas.Common.ProductSettings>
      <!--
        The contents of this section should be considered "read-only".
        Modifications to these settings may alter the intended behaviour of ClearCanvas DICOM Viewer, causing the application to become uncertified.
      -->
      <setting name="FamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Component" serializeAs="String">
        <value>UWF7dk94Zlp2GkxvVlFBelZzTGNZPBU+</value>
      </setting>
      <setting name="SubComponent" serializeAs="String">
        <value />
      </setting>
      <setting name="Product" serializeAs="String">
        <value>UWF7dk94Zlp2MBsAJDoyDg==</value>
      </setting>
      <setting name="Edition" serializeAs="String">
        <value />
      </setting>
      <setting name="Release" serializeAs="String">
        <value>L0ZyZ0MdAgw=</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>NConPRIdAgw=</value>
      </setting>
      <setting name="VersionSuffix" serializeAs="String">
        <value>LwQXEyIdAgw=</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>RmtnalB0ZWRMGikwFQ8SWlJrQGFSWENwFUJLcRUPUnVpKmVmYkt0bAJIcHNdb3ppQDMlAjcgMgA=</value>
      </setting>
      <setting name="License" serializeAs="String">
        <value>RmtnalB0ZWRMGjNjDRoAPgY0CSx0UHBfR0t5XE1OYDlMZHQhD2JscwJIfGdQaX8sVnhWZ0VWV2QZGwIyNS8PPg==</value>
      </setting>
    </ClearCanvas.Common.ProductSettings>
  </applicationSettings>
</configuration>
